<h2>Filter</h2>
<p-card styleClass="mb-3">
<form >
  Valeurs supérieures à <input pInputText [(ngModel)]="filter" name="filterValue"/>
</form>
</p-card>
<p-card styleClass="mb-3">
  <div class="mb-3">Emission de 10 valeures simples: 1, 12, 3, 50, 32, 4, 22, 3, 18, 29</div>
<button pButton (click)="simpleFilter()">Filtrer</button>
<div class="flex mt-3">
  <div *ngFor="let res of resultSimpleFilter" class="mr-2">{{res}}</div>
</div>
</p-card>
<p-card styleClass="mb-3">
  <div class="mb-3">Emission d'un tableau de 10 valeurs: [1, 12, 3, 50, 32, 4, 22, 3, 18, 29] créé avec of</div>
  <button pButton (click)="simpleArrayFilter()">Filtrer</button>
  <div class="flex mt-3">
    <div *ngFor="let res of resultSimpleFilterArray" class="mr-2">{{res}}</div>
  </div>
</p-card>
<p-card styleClass="mb-3">
  <div class="mb-3">Emission d'un tableau de 10 valeurs: [1, 12, 3, 50, 32, 4, 22, 3, 18, 29]  créé avec of et fonction map.</div>
  <button pButton (click)="arrayFilter()">Filtrer</button>
  <div class="flex mt-3">
    <div *ngFor="let res of resultCorrectSimpleFilterArray" class="mr-2">{{res}}</div>
  </div>
</p-card>
<p-card styleClass="mb-3">
  <div class="mb-3">Emission d'un tableau de 10 valeurs: [1,2,3]. Créé avec la fonction from</div>
  <button pButton (click)="filterFromArray()">Filtrer</button>
  <div class="flex mt-3">
    <div *ngFor="let res of resultArrayFrom" class="mr-2">{{res}}</div>
  </div>
</p-card>

