<h2>ConcatMap</h2>
<p-card styleClass="mb-3">
  <div>
    <button pButton (click)="launch()">Lancer</button>

    </div>
</p-card>
<div class="flex">
  <p-card styleClass="flex-1 mr-3">
    <div class=" flex flex-column justify-content-center align-items-center">
      <div>ConcatMap</div>
      <div class="text-4xl">{{concatMapResult}}</div>
    </div>

  </p-card>
  <p-card styleClass="flex-1">
    <div class=" flex flex-column justify-content-center align-items-center">
      <div>SwitchMap</div>
      <div class="text-4xl">{{switchMapResult}}</div>
    </div>
  </p-card>
</div>

